<a href="https://colab.research.google.com/github/Msahabuddin1/py/blob/master/mission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from matplotlib import pyplot as plt
%matplotlib inline

import pandas as pd
import plotly.express as px
import numpy as np

CELL_HEIGHT: int = 50

# Initialize helpers to ignore pandas warnings and resize columns and cells
pd.set_option("chained_assignment", None)
pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 500)
pd.set_option('display.max_colwidth', CELL_HEIGHT)

DATA_URL: str = "https://dotlas-marketing.s3.amazonaws.com/interviews/california_restaurants.json"

In [ ]:
%%time
# df: pd.DataFrame = ?
df = pd.read_json(DATA_URL)

In [ ]:
df.shape

In [ ]:
df.describe

In [ ]:
df.head()

In [ ]:
#Create restaurant ID column to uniquely index each restaurant

df["restaurant_id"] = range(1, len(df) + 1)
df.head(2)

In [ ]:
df.shape

2.2.1 Restaurants by City üåÜ (1 point)

For each city in california, find

    the number of restaurants in that city, 
    mean rating of all restaurants in the city,
    mean price_range_id per city,
    mean maximum_days_advance_for_reservation per city

In [ ]:
df2=df.groupby('city').agg(restaurant_count=('brand_name','count'),
                            avg_rating=('rating', 'mean'),
                            avg_price_range_id=('price_range_id', 'mean'),
                            avg_maximum_days_advance_for_reservation=('maximum_days_advance_for_reservation', 'mean'))

In [ ]:
df3=df2.sort_values(by='restaurant_count', ascending=False)

In [ ]:
df3.head()

2.2.2 Restaurants by Brand üçî (1 point)

For each brand (brand_name) in california, find

    the number of restaurants that belong to that brand,
    mean price_range_id of the brand across its restaurants

sort by number of restaurants.

The resulting dataframe's top 5 rows would look as follows:

In [ ]:
df4=df.groupby('brand_name').agg(restaurant_count=('brand_name','count'),
                            avg_price_range_id=('price_range_id', 'mean'))

In [ ]:
df5=df4.sort_values(by='restaurant_count', ascending=False)

In [ ]:
df5.head()



2.2.3 Visualize Brands üìä (2 points)

Create a bar chart of top 5 brands in california by average number of reviews where each brand has at least 5 restaurants

---

In [ ]:
ar=df.groupby('brand_name').agg(avg_review_count=('review_count','mean'))
ar1=ar.sort_values(by='avg_review_count', ascending=False)
ar1.head()

In [ ]:
x = df['brand_name'].head(5)
y = ar1['avg_review_count'].head(5)

In [ ]:
plt.bar(x,y)
plt.xlabel('Categories')
plt.ylabel("Values")
plt.title('Categories Bar Plot')
plt.show()